<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginTask</servlet-name>
        <servlet-class>com.universal.LoginTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationTask</servlet-name>
        <servlet-class>com.universal.RegistrationTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.universal.controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>com.universal.controller.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>com.universal.controller.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Course</servlet-name>
        <servlet-class>Course</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Course1</servlet-name>
        <servlet-class>com.universal.controller.Course1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCourse</servlet-name>
        <servlet-class>com.universal.controller.ViewCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faculty</servlet-name>
        <servlet-class>com.universal.controller.Faculty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BatchF</servlet-name>
        <servlet-class>com.universal.controller.BatchF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Batch</servlet-name>
        <servlet-class>com.universal.controller.Batch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Student</servlet-name>
        <servlet-class>com.universal.controller.Student</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Enquiry</servlet-name>
        <servlet-class>com.universal.controller.Enquiry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Fees</servlet-name>
        <servlet-class>com.universal.controller.Fees</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit</servlet-name>
        <servlet-class>com.universal.controller.Delete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginTask</servlet-name>
        <url-pattern>/LoginTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationTask</servlet-name>
        <url-pattern>/RegistrationTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Course</servlet-name>
        <url-pattern>/Course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Course1</servlet-name>
        <url-pattern>/Course1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCourse</servlet-name>
        <url-pattern>/ViewCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faculty</servlet-name>
        <url-pattern>/Faculty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BatchF</servlet-name>
        <url-pattern>/BatchF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Batch</servlet-name>
        <url-pattern>/Batch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Student</servlet-name>
        <url-pattern>/Student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Enquiry</servlet-name>
        <url-pattern>/Enquiry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Fees</servlet-name>
        <url-pattern>/Fees</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
